.profile {
  --info-width: 100%;

  flex-grow: 1;

  @media #{$tablet-width} {
    --info-width: 250px;

    display: grid;
    grid-template-columns: var(--info-width) 1fr;
  }

  @media (min-width: 1150px) {
    --info-width: 300px;
  }

  @media #{$desktop-width} {
    --info-width: 350px;
  }

  @media (min-width: 1800px) {
    --info-width: 450px;

    grid-template-columns: 1fr var(--info-width) 1350px 1fr;
  }
}

.profile__info {
  @media (min-width: 1800px) {
    grid-area: 1 / 1 / 2 / 3;
  }
}

.profile__info-wrapper {
  position: relative;
  width: var(--info-width);
}

.profile__portfolio-wrapper {
  position: relative;

  @media #{$tablet-width} {
    grid-area: 1 / 2 / 2 / 3;
  }

  @media (min-width: 1800px) {
    grid-area: 1 / 3 / 2 / 5;
  }
}

.profile__portfolio-wrapper::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: $bg-dark;
  mask-image: url("../../images/pattern.svg");
  mask-size: 500px auto;
}

.profile__portfolio {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  max-width: 1350px;
  margin-right: auto;
  background-color: $bg-light;
  z-index: 1;
}
